// app global css in Sass form
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap')
@import "fonts"
@import "slider"
@import "_spaces"

*
  margin: 0
  padding: 0

body
  font-family: 'Ubuntu', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

a
  color: inherit
  text-decoration: none

p
  font-size: 16px
  margin: 0 !important

::-webkit-scrollbar
  width: 0
  height: 0

.img-overlay
  position: relative

  &:after
    position: absolute
    content: ''
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, $primary 100%)

.img-overlay-2
  position: relative

  &:after
    position: absolute
    content: ''
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, $secondary 100%)

.rounded-images
  border-radius: 5px !important

.hide-on-desktop
  display: none

.q-card__actions, .q-card__actions .q-btn__wrapper
  padding-left: 0 !important
  padding-right: 0 !important

.q-card__section--vert
  padding: 10px

.bg-primary-gradient
  background-image: linear-gradient(to right bottom, #1976d2, #5192de, #7baeea, #a4caf4, #cde6ff)

.bg-secondary-gradient
  background-image: linear-gradient(to right bottom, #ff0080, #ff2f8e, #ff469a, #fe57a7, #fd67b2)

.text-body
  img
    border-radius: 5px
    min-width: 100%
    max-width: 100%
    height: auto !important

.call-to-action
  position: fixed
  top: 50px
  background: rgba(255, 255, 255, .8)
  left: 0
  right: 0
  height: 50px
  display: flex
  justify-content: center
  align-items: center
  z-index: 1999

.btn-enter-active, .btn-leave-active
  transition: .3s all

.btn-enter, .btn-leave-to
  top: 0

.page-header-subtitle
  font-size: 22px
  line-height: 30px

.page-header-text
  width: 100%
  bottom: 0
  z-index: 999

  p
    font-size: 18px

.q-img__content > div
  background: rgba(0, 0, 0, .0) !important

@media screen and (max-width: 800px)
  .q-drawer--right.q-drawer--bordered
    border-left: none !important

  .hide-on-mobile
    display: none
    width: 0

  .hide-on-desktop
    display: block

  .d-flex-important
    display: flex !important

@media screen and (max-width: 650px)
  .page-header-subtitle
    font-size: 16px
    line-height: 18px
