.q-item
  padding: 0 !important

.q-carousel__slide, .q-carousel .q-carousel--padding
  padding: 0 !important

.q-img__content > div
  background: inherit !important

.q-tab-panel
  padding: 0 !important
